- dotfiles
  - vim
    - .vimrc
    - .vimrc.bundles
  - git
    - .gitconfig
    - .gitignore_global
  - tmux
    - .tmux.conf
  - system
    - .aliases 
    - .zshrc
    - .zshenv
    - configs
      - .env
      - .prompt
      - .history
      - .editor
      - .path
      - .completion
      - ...
    - functions
      - (all the various function files)
  - locals (or dotfiles-local)
    - vim
      - .vimrc.local
      - .vimrc.bundles.local
    - git
      - .gitconfig.local
    - tmux
      - .tmux.conf.local
    - system
      - .aliases.local
      - .zshrc.local
      - .zshenv.local

  - install.sh
